$color-black: #000000;
$color-white: #fff;
$color-background: #004643;
$color-heading: #fffffe;
$color-button:#f9bc60;
$color-buttonText: #001e1d;
$color-boarder: #e16162;

// $color-second-background: #fef6e4;
// $color-second-heading: #001858;
// $color-second-button:#f582ae;
// $color-second-buttonText: #001858;
// $color-second-boarder: #8bd3dd;

$mobile-breakpoint: 320px;
$desktop-breakpoint: 1024px;
