@use "./../../Styles/variables" as *;

@media screen and (min-width: 320px) {
    .card {
        text-align: center;
        height: 40%;
    
        &__details {
            
            border: 4px solid $color-boarder;
            height: 50%;
            padding-top: 1em;
            margin: 1rem;
            text-align: center;
        
        }
    
        &__img {
            width: 20%;
            height: 30%;
            size: 30%;
            
        }
    
        &__name {
            text-align: center;
            margin-top: 2em;
            font-size: 1.5em;
            
        }
    
        &__description {
            height: 27%;
            color: $color-heading;
            line-height: 150%;
    
        }

        &__firstBrewed {
            color: $color-heading;
        }

        &__ph {
            color: $color-heading;
        }

        &__abv {
            color: $color-heading;
        }
        }
    }
@media screen and (min-width: 1024px) {
.card {
    text-align: center;
    height: 40%;
    width: 30%;

    &__details {
        
        border: 4px solid $color-boarder;
        height: 45em;
        padding-top: 1em;
        margin: 1rem;
    }

    &__img {
        width: 20%;
        height: 30%;
        size: 30%;
        
    }

    &__name {
        text-align: center;
        margin-top: 1.5em;
        margin-bottom: 2em;
        font-size: 1.5em;
        
        
    }

    &__description {
        height: 27%;
        color: $color-heading;
        line-height: 150%;

    }

    &__firstBrewed {
        color: $color-heading;
    }

    &__ph {
        color: $color-heading;
    }

    &__abv {
        color: $color-heading;
    }
    }
}