@use "./../../Styles/variables" as *;

@media screen and (min-width: $mobile-breakpoint) {

.main-container {
    
        text-align: center;
        }
        
h2 {
        text-align: center;
        height: 5vh;
        color: $color-heading;
        }

}


@media screen and (min-width: $desktop-breakpoint) {

.main-container {
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content:space-around; 

}

h2 {
        text-align: center;
        height: 5vh;
        color: $color-heading;

}

}
